{% set currentRoute =  path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set cart = getCart() %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SH eShop</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{{ currentRoute == path('homepage') ? 'active' : '' }}"><a
                            href="{{ path('homepage') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="{{ currentRoute == path('cart') ? 'active' : '' }}"><a
                            href="{{ path('cart') }}">My Cart
                        ({{ cart.items|length > 0 ? cart.items|length ~ ' items, $' ~ cart.total : '0' }})</a>
                </li>
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="{{ currentRoute == path('fos_user_profile_show') ? 'active' : '' }}"><a
                                        href="{{ path('fos_user_profile_show') }}">My Profile</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="{{ currentRoute == path('fos_user_security_login') ? 'active' : '' }}"><a
                                href="{{ path('fos_user_security_login') }}">Login</a></li>
                    <li class="{{ currentRoute == path('fos_user_registration_register') ? 'active' : '' }}"><a
                                href="{{ path('fos_user_registration_register') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>