<div class="col-xs-12 col-md-8">
    <form class="form-inline add_to_cart" action="{{ path('add_to_cart', {'id' : product.id}) }}">
        <div class="col-md-5">
            <input type="number" class="form-control quantity" value="1" style="width: 100%" min="0" max="99">
        </div>
        <div class="col-md-7">
            <button type="submit" class="btn btn-default">Add to cart</button>
        </div>
    </form>
</div>