{% extends '@Shop/base.html.twig' %}

{% block content %}
    {% set imagePath = product.image ? asset('/uploads/images/' ~ product.image.filename) : asset('img/no-image.png') %}
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ product.title }}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <img class="group list-group-image" src="{{ web_image(imagePath).zoomCrop(500,400) }}" alt=""
                             style="width: 100%;"/>
                    </div>
                    <div class="col-md-6">
                        <p><strong>Description</strong></p>
                        <p>{{ product.description }}</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <p class="lead">$ {{ product.price }}</p>
                            </div>
                            {% include '@Shop/snippets/product_adder.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Seller</h3>
                </div>
                <div class="panel-body">
                    <p><strong>Name:</strong> {{ product.user.username }}</p>
                    <p><strong>Email address:</strong> {{ product.user.email }}</p>
                    <p><strong>Total Items:</strong> {{ product.user.products|length }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
