{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Profile info</h3>
            </div>
            <div class="panel-body">
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                <a href="{{ path('fos_user_change_password') }}">Change Password</a>
            </div>
        </div>
        <a class="btn btn-primary btn-lg btn-block" href="{{ path('product_new') }}">Add product</a>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sent buy requests</h3>
            </div>
            <div class="panel-body">
                {% set sentRequests = app.user ? app.user.sentBuyRequests : [] %}
                {% if sentRequests|length > 0 %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Seller</th>
                            <th>Qty</th>
                            <th>Sent at</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for request in sentRequests %}
                        {% set imagePath = request.product.image ? asset('/uploads/images/' ~ request.product.image.filename) : asset('img/no-image.png') %}
                        <tr>
                            <td>
                                <img class="group list-group-image" src="{{ web_image(imagePath).zoomCrop(30,30) }}" alt=""/>
                            </td>
                            <td>
                                <a href="{{ path('product_show', {'id' : request.product.id}) }}">
                                    {{ request.product.title[:10] }}
                                </a>
                            </td>
                            <td>{{ request.seller.username[:10] }}</td>
                            <td>{{ request.quantity }}</td>
                            <td>{{ request.createdAt|date('Y-m-d H:i') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    {% include '@Shop/snippets/empty_list.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your products</h3>
            </div>
            <div class="panel-body">
                {% if products|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        {% set imagePath = product.image ? asset('/uploads/images/' ~ product.image.filename) : asset('img/no-image.png') %}
                        <tr>
                            <td>
                                <img class="group list-group-image" src="{{ web_image(imagePath).zoomCrop(30,30) }}" alt=""/>
                            </td>
                            <td><a href="{{ path('product_show', {'id' : product.id}) }}">{{ product.title }}</a></td>
                            <td>{{ product.description }}</td>
                            <td>$ {{ product.price }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    {% include '@Shop/snippets/empty_list.html.twig' %}
                {% endif %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Received buy requests</h3>
            </div>
            <div class="panel-body">
                {% set receivedRequests = app.user ? app.user.receivedBuyRequests : [] %}
                {% if receivedRequests|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Product</th>
                            <th>Buyer</th>
                            <th>Qty</th>
                            <th>Received at</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for request in receivedRequests %}
                            {% set imagePath = request.product.image ? asset('/uploads/images/' ~ request.product.image.filename) : asset('img/no-image.png') %}
                            <tr>
                                <td>
                                    <img class="group list-group-image" src="{{ web_image(imagePath).zoomCrop(30,30) }}" alt=""/>
                                </td>
                                <td>
                                    <a href="{{ path('product_show', {'id' : request.product.id}) }}">
                                        {{ request.product.title }}
                                    </a>
                                </td>
                                <td>{{ request.user.email }}</td>
                                <td>{{ request.quantity }}</td>
                                <td>{{ request.createdAt|date('Y-m-d H:i') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {% include '@Shop/snippets/empty_list.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
