{% extends '@Shop/base.html.twig' %}

{% block content %}
    {% set cart = getCart() %}

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                Total products in list: {{ products.getTotalItemCount }}
                <div class="pull-right">
                    <span>Filter by category:</span>
                    <select class="category-picker">
                        <option value="0">-</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id == selectedCategory %}selected{% endif %}>
                                {{ category.title }}
                            </option>
                        {% endfor %}
                    </select>
                    <span>Sort by:</span>
                    {{ knp_pagination_sortable(products, 'Price', 'p.price') }}
                    {{ knp_pagination_sortable(products, 'Date', 'p.createdAt') }}
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    {% if products.getTotalItemCount > 0 %}

    {% for product in products %}
        {% set imagePath = product.image ? asset('/uploads/images/' ~ product.image.filename) : asset('img/no-image.png') %}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="{{ web_image(imagePath).zoomCrop(400,225) }}" alt=""/>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <a href="{{ path('product_show', {'id' : product.id}) }}">
                            {{ product.title|length > 35 ? product.title[:35] ~ '...' : product.title }}
                        </a>
                    </h4>
                    <p class="group inner list-group-item-text" style="height: 50px">
                        {{ product.description|length > 80 ? product.description[:80] ~ '...' : product.description }}
                    </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <p class="lead">$ {{ product.price }}</p>
                        </div>
                        {% include '@Shop/snippets/product_adder.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% else %}
        {% include '@Shop/snippets/empty_list.html.twig' %}
    {% endif %}
    <div class="clearfix"></div>
    <div class="row text-center">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}