{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'security.login.submit'|trans }}</h3>
            </div>
            <div class="panel-body">
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}

                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input class="form-control" type="text" id="username" name="_username"
                               value="{{ last_username }}"
                               required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required"/>
                    </div>

                    <input type="submit" id="_submit"
                            name="_submit" value="{{ 'security.login.submit'|trans }}"/>
                    <a class="pull-right" href="{{ path('fos_user_registration_register') }}">Don't have an account?</a>
                </form>
            </div>
        </div>
    </div>
</div>
