{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'registration.submit'|trans }}</h3>
            </div>
            <div class="panel-body">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans }}"/>
                    <a class="pull-right" href="{{ path('fos_user_security_login') }}">Already have an account?</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
