{% extends '@Shop/base.html.twig' %}

{% block content %}
    {% set cartItems = getCart().items %}
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">My Cart</h3>
            </div>
            <div class="panel-body">
                {% if cartItems|length > 0 %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Seller</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in cartItems %}
                        {% set imagePath = item.product.image ? asset('/uploads/images/' ~ item.product.image.filename) : asset('img/no-image.png') %}
                        <tr>
                            <td>
                                <img class="group list-group-image" src="{{ web_image(imagePath).zoomCrop(100,100) }}" alt=""/>
                            </td>
                            <td>{{ item.product.title[:20] }}</td>
                            <td>{{ item.product.description[:20] }}</td>
                            <td>{{ item.product.user.username }}</td>
                            <td>$ {{ item.product.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>$ {{ item.quantity * item.product.price}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    {% include '@Shop/snippets/empty_list.html.twig' %}
                {% endif %}
            </div>
        </div>
        {% if cartItems|length > 0 %}
        <div class="col-md-3 col-md-offset-9">
            <h2 class="pull-right">Total Price: $ {{ getCart().total }}</h2>
        </div>
        <div class="col-md-3 col-md-offset-9">
            <a class="btn btn-success btn-block pull-right" data-url="" href="{{ path('checkout') }}">Checkout</a>
        </div>
        {% endif %}
    </div>
{% endblock %}